.navbar{
    width: 100%;
    padding: 0 5%;
    display: flex;
    box-shadow: 0px 2px 4px -1px rgba(153, 153, 153, 1);
    background: #538C29;
    opacity: 0.3;
    color: white;
    transition-duration: 0.5s;
    // box-shadow: 0px 5px 19px -9px rgba(0, 0, 0, 0.75);
    #navbar-marca{
        flex-basis: 70%;
        img{
            cursor: pointer;
        }
    }
    .menu{
        flex-basis: 30%;
        display: flex;
        justify-content: space-between;
        span{
            margin-right: 10px;
            color: white !important; 
        }
    }
    a:hover{
        font-weight: 600;
    }
}
