<mat-toolbar class="navbar" id="navbar">
    <div id="navbar-marca">
      <img [routerLink]="['inicio']" routerLinkActive="active" src="/src/assets/images/RESONARE horizontal-b.png"
        alt="">
    </div>


    <div class="menu" >
      <span  id="navbar-inicio"> <a  style="color:white;" href="http://localhost:4200">Inicio</a> </span>
      <!-- <span  id="navbar-inicio"> <a  style="color:white;"[routerLink]="[ '' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a> </span> -->
      
      <span  id="navbar-memorias"><a style="color:white;">Memorias</a></span>
      <span  id="navbar-nosotros"><a style="color:white;" [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a></span>
    </div>
</mat-toolbar>