@import '../../../../mixins/basics.scss';



.videoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 600px;
    background: #444444;

    .t{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .titleContent {
          @include font("Raleway-semi-bold", 35px);
          margin-bottom: 5px;
          color: white;
          // color: #538C29;
          border-bottom: 1px solid white;
          // border-bottom: 1px solid #538C29;
          display: flex;
          justify-content: center;
          align-items: center;

        }
    }

    .iframeC{
        width: 100%;
        height: 450px;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

.closeModal {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  svg {
    cursor: pointer;
  }
}
