
<div id="adminContent">
  <div class="title">
    <div class="img">
      <img src="../../assets/images/isologo.png" alt="">
    </div>
    <div class="content">
      <span>Panel de administrador</span>
      <div class="icon2">
        <!-- <img [ngbTooltip]="About" placement="left" src="../../../assets/icons/home.png"
        [routerLink]="['../']" alt=""> -->

        <a class="o" href="http://localhost:4200" [ngbTooltip]="About" placement="left"></a>
      </div>
    </div>
  </div>

  <div class="datos">
    <div class="videosTotales">
      <div class="c">
        <span>Vídeos totales activos</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
          x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve"
          width="30px" height="30px" class="">
          <g>
            <g id="XMLID_822_">
              <path id="XMLID_823_"
                d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938   C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527   C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991   c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764   c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861   C204.394,157.263,202.325,160.684,199.021,162.41z"
                data-original="#000000" class="active-path" data-old_color="#6d6d6d" fill="#6d6d6d" />
            </g>
          </g>
        </svg>
      </div>
      <div class="t">
        <span>11 videos</span>
      </div>
    </div>
    <div class="videosOlvidoTotales">
      <div class="c">
        <span>Vídeos totales olvidados</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
          x="0px" y="0px" viewBox="0 0 310 310" style="enable-background:new 0 0 310 310;" xml:space="preserve"
          width="30px" height="30px" class="">
          <g>
            <g id="XMLID_822_">
              <path id="XMLID_823_"
                d="M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938   C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527   C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991   c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764   c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861   C204.394,157.263,202.325,160.684,199.021,162.41z"
                data-original="#000000" class="active-path" data-old_color="#6d6d6d" fill="#6d6d6d" />
            </g>
          </g>
        </svg>
      </div>
      <div class="t">
        <span>1 videos</span>
      </div>
    </div>
    <div class="vistasTotales">
      <div class="c">
        <span>Cantidad de Historias</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
          x="0px" y="0px" viewBox="0 0 59.2 59.2" style="enable-background:new 0 0 59.2 59.2;" xml:space="preserve"
          width="30px" height="30px" class="">
          <g>
            <g>
              <path
                d="M51.062,21.561c-11.889-11.889-31.232-11.889-43.121,0L0,29.501l8.138,8.138c5.944,5.944,13.752,8.917,21.561,8.917   s15.616-2.972,21.561-8.917l7.941-7.941L51.062,21.561z M49.845,36.225c-11.109,11.108-29.184,11.108-40.293,0l-6.724-6.724   l6.527-6.527c11.109-11.108,29.184-11.108,40.293,0l6.724,6.724L49.845,36.225z"
                data-original="#000000" class="active-path" data-old_color="#6d6d6d" fill="#6d6d6d" />
              <path
                d="M28.572,21.57c-3.86,0-7,3.14-7,7c0,0.552,0.448,1,1,1s1-0.448,1-1c0-2.757,2.243-5,5-5c0.552,0,1-0.448,1-1   S29.125,21.57,28.572,21.57z"
                data-original="#000000" class="active-path" data-old_color="#6d6d6d" fill="#6d6d6d" />
              <path
                d="M29.572,16.57c-7.168,0-13,5.832-13,13s5.832,13,13,13s13-5.832,13-13S36.741,16.57,29.572,16.57z M29.572,40.57   c-6.065,0-11-4.935-11-11s4.935-11,11-11s11,4.935,11,11S35.638,40.57,29.572,40.57z"
                data-original="#000000" class="active-path" data-old_color="#6d6d6d" fill="#6d6d6d" />
            </g>
          </g>
        </svg>
      </div>
      <div class="t">
        <span>7 Historias</span>
      </div>
    </div>
    <div class="comentariosTotales">
      <div class="c">
        <span>Comentarios totales</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
          x="0px" y="0px" width="30px" height="30px" viewBox="0 0 511.626 511.626"
          style="enable-background:new 0 0 511.626 511.626;" xml:space="preserve" class="">
          <g>
            <g>
              <path
                d="M477.371,127.44c-22.843-28.074-53.871-50.249-93.076-66.523c-39.204-16.272-82.035-24.41-128.478-24.41   c-34.643,0-67.762,4.805-99.357,14.417c-31.595,9.611-58.812,22.602-81.653,38.97c-22.845,16.37-41.018,35.832-54.534,58.385   C6.757,170.833,0,194.484,0,219.228c0,28.549,8.61,55.3,25.837,80.234c17.227,24.931,40.778,45.871,70.664,62.811   c-2.096,7.611-4.57,14.846-7.426,21.693c-2.855,6.852-5.424,12.474-7.708,16.851c-2.286,4.377-5.376,9.233-9.281,14.562   c-3.899,5.328-6.849,9.089-8.848,11.275c-1.997,2.19-5.28,5.812-9.851,10.849c-4.565,5.048-7.517,8.329-8.848,9.855   c-0.193,0.089-0.953,0.952-2.285,2.567c-1.331,1.615-1.999,2.423-1.999,2.423l-1.713,2.566c-0.953,1.431-1.381,2.334-1.287,2.707   c0.096,0.373-0.094,1.331-0.57,2.851c-0.477,1.526-0.428,2.669,0.142,3.433v0.284c0.765,3.429,2.43,6.187,4.998,8.277   c2.568,2.092,5.474,2.95,8.708,2.563c12.375-1.522,23.223-3.606,32.548-6.276c49.87-12.758,93.649-35.782,131.334-69.097   c14.272,1.522,28.072,2.286,41.396,2.286c46.442,0,89.271-8.138,128.479-24.417c39.208-16.272,70.233-38.448,93.072-66.517   c22.843-28.062,34.263-58.663,34.263-91.781C511.626,186.108,500.207,155.509,477.371,127.44z"
                data-original="#000000" class="active-path" data-old_color="#6d6d6d" fill="#6d6d6d" />
            </g>
          </g>
        </svg>
      </div>
      <div class="t">
        <span>7 comentarios</span>
      </div>
    </div>
  </div>

  <div class="contenedor">
    <div class="graficas">
      <canvas id="barChart"></canvas>
    </div>

    <div class="categorias">
      <div class="titleC">
        <span>Categorías</span>
      </div>

      <div class="listCategories">
        <!-- <div class="perdon">
          <span>- Perdón</span> <div class="rect"></div>
        </div>
        <div class="guerra">
          <span>- Guerra</span> <div class="rect"></div>
        </div>
        <div class="desplazamiento">
          <span>- Desplazamiento</span> <div class="rect"></div>
        </div>
        <div class="paz">
          <span>- Paz</span> <div class="rect"></div>
        </div> -->
        <canvas id="pieChart"></canvas>
      </div>
    </div>
  </div>


</div>