@import '../../mixins/basics.scss';

#adminContent{
    width: 100%;
    padding: 2% 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #444444;

    .title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .img{
            height: 50px;
            width: 50px;
            img{
                height: 100%;
                width: 100%;
            }
            margin-right: 15px;
        }
        .content{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        padding: 0 0 20px 0;
         @include font("Raleway-semi-bold", 35px);
         color:white;
        border-bottom: .5px solid white;
    }

    .datos{
        width: 100%;
        height: 200px;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        align-items: center;
        .videosTotales{
            flex-basis: 22%;
            height: 150px;
            background: white;
            border-radius: 10px;
            color: #068000;

            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: space-around;
            


        }
        .vistasTotales {
            flex-basis: 22%;
            height: 150px;
            background: white;
            border-radius: 10px;
            color: #068000;

            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: space-around;
            


        }
        .videosOlvidoTotales {
            flex-basis: 22%;
            height: 150px;
            background: white;
            border-radius: 10px;
            color: #068000;

            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: space-around;
            


        }
        .comentariosTotales {
            flex-basis: 22%;
            height: 150px;
            background: white;
            border-radius: 10px;
            color: #068000;

            display: flex;
            flex-direction: column;
            padding: 15px;
            justify-content: space-around;
            


        }
    }

    .contenedor{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .graficas{
            flex-basis: 55%;
            height: 320px;
            border-radius: 10px;
            background: white;
            canvas{
                height: 100%;
            }
        }

        .categorias{
            flex-basis: 40%;
            height: 320px;
            border-radius: 10px;
            background: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            .titleC{
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include font("Raleway-semi-bold", 20px);
                color: #6d6d6dd9;
            }

            .listCategories{
                padding: 0 0 0 25px;
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                color: #6d6d6dd9;

                .perdon{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    span{
                        margin-right: 10px;
                    }
                }
                .guerra{
                   display: flex;
                   align-items: center;
                   width: 100%;
                   justify-content: space-between;
                   span{
                       margin-right: 10px;
                   } 
                }
                .desplazamiento{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    span{
                        margin-right: 10px;
                    }
                }
                .paz{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                    span{
                        margin-right: 10px;
                    }
                }
                
            }
        }
    }


}

.c{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include font("Raleway-semi-bold", 15px);
    color: #6d6d6dd9;
}

.t{
    @include font("Raleway-semi-bold", 25px);
     color: #068000;
}

.headerInicio {
  background: #444444;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 20px 5% 0 5%;
  justify-content: space-around;
  //   position: fixed;

  img {
    width: 35px;
    cursor: pointer;
  }

  .rowIcon1 {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

  .rowIcon2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.o {
  content: url('../../assets/icons/home.png');
  width: 35px;
  height: 35px;
}

.home {
  content: url('../../assets/icons/resonare-linea.png');
  width: 35px;
  height: 35px;
}

.rect{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 3px;
}