<div id="historyContent">
  <div id="titleContent">
    <span>{{titleVideo}}</span>
  </div>
  <div id="historyName">
    <div id="t">
      <span>Escribe un nombre para tu Historia (este nombre será visto por todos los usuarios)</span>
    </div>
    <div id="inputName">
      <mat-form-field floatLabel="never" class="example-full-width">
        <input [(ngModel)]="titleVideo" placeholder="Título para tu historia" matInput value="">
      </mat-form-field>
    </div>
  </div>

  <div id="explication">
    <h4>Dinámica</h4>
    <span>A continuación se mostrarán a manera de lista los vídeos que usted como usuario ha visualidado en su interacción con la
      la plataforma, usted podrá escoger de la lista de vídeos vistos que video quiere que haga parte de su historia y que vídeo no,
      para eso le hemos suministrado un botón de <b>Remover</b> con el cual podrá eliminar cualquier vídeo de los vistos. Por último
      esta el botón de publica historia con el cual harás tu historia pública para que otros usuaios puedan
      ver que vídeos viste en tu momento de interacción con la plataforma de RESONARE.
    </span>
  </div>
  <div class="vc" *ngFor="let v of videoContent">
    <div id="videosContent">
      <div class="titleVideo">
        <span>
          {{v.title}}
        </span>
      </div>
      <div class="videoC">
        <div class="iframeVideo">
          <video *ngIf="v.video=='no hay'" [src]="v.videoSuplente" width="798" height="427" controls></video>
          <iframe *ngIf="v.video!='no hay'" width="798" height="427" [src]="v.video | youtubePipe" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="removeButtonContent">
            <!-- boton de remover -->
            <div class="button removeButton" (click)="removeVideo(v.keyVideo)">
              <span>Remover</span>
              <svg class="addIcon" width="46px" height="47px" viewBox="0 0 46 47" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="usuario" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="1-infopersonal-1" transform="translate(-764.000000, -589.000000)">
                    <g id="Group-6" transform="translate(135.000000, 415.000000)">
                      <g id="profimg">
                        <g id="btn-add"
                          transform="translate(652.000000, 197.500000) scale(-1, 1) translate(-652.000000, -197.500000) translate(629.000000, 174.000000)">
                          <ellipse id="Oval" class="circle" fill="#8C6DAF" cx="23" cy="23.5" rx="23" ry="23.5">
                          </ellipse><text id="+" font-family="Nunito-Bold, Nunito" font-size="34.4" font-weight="bold"
                            fill="#FFFFFF">
                            <tspan x="12.68" y="35">+</tspan>
                          </text>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shareButton">
    <button mat-flat-button (click)="publishHistory()">Publicar historia</button>
  </div>
</div>