@import '../../mixins/basics.scss';

#historyContent{
    width: 100%;
    height: 100%;
    padding: 5% 5% 2% 5%;

    display: flex;
    flex-direction: column;
    @include font("Raleway-regular", 14px);

     #titleContent {
        display: flex;
        justify-content: center;
        @include font("Raleway-semi-bold", 30px);
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #6d6d6dd9;
     }

     #historyName{
         width: 100%;
         padding: 20px;
         @include font("Raleway-regular", 14px);
         color: #6d6d6dd9;
         #inputName{
             input{
                 width: 100%;
             }
         }
     }

     #explication{
         width: 100%;
         padding: 20px;
         margin-bottom: 20px;
         @include font("Raleway-regular", 14px);
         color: #6d6d6dd9;
         text-align: justify;
         border-bottom: .5px solid rgba(143, 143, 143, 0.568);

         h4{
            @include font("Raleway-semi-bold", 15px);
            color: #538C29;

         }
        }

     #videosContent{
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       padding: 20px;
       border-bottom: .5px solid rgba(143, 143, 143, 0.568);


       .titleVideo{
       display: flex;
       justify-content: center;
       @include font("Raleway-semi-bold", 18px);
    //    border-bottom: .5px solid rgba(143, 143, 143, 0.568);
       padding-bottom: 10px;
       margin-bottom: 20px;
       color: #538C29;
       }
        .videoC{
            
            display: flex;
            width: 100%;
            flex-direction: row;

            .iframeVideo{
                flex: 3;
                width: 100%;

                iframe{
                  width: 360px;
                  height: 200px;
                }
                video{
                  width: 360px;
                  height: 200px;
                }
            }
            .removeButtonContent{
                flex:1;
                display: flex;
                justify-content: center;
                align-items: center;
        }
        }
     }

     #shareButton{
         width: 100%;
         height: 70px;
         display: flex;
         justify-content: flex-end;
         align-items: center;

         button {
           background: #538C29;
           color: white;
         }
     }

}

    //Colores para el boton de remover
    .removeButton {
      background-color: #ffffff;
      border: .5px solid #EE5255;
      color: #EE5255;
      padding: 10px 22px !important;

      .addIcon {
        transform: rotate(45deg);

        .circle {
          fill: #EE5255;
        }

        text {
          fill: #ffffff;
        }
      }
    }

    .removeButton:hover {
      background-color: #EE5255;
      color: #ffffff;
      ;

      .addIcon {
        .circle {
          fill: #ffffff;
        }

        text {
          fill: #EE5255;
        }
      }
    }

    //Estilos para el boton de agregar y remover
    .button {
      height: 47px;
      border-radius: 23px;
      padding: 10px 26px;
      text-align: center;
      margin-left: 10px;
      cursor: pointer;

      .addIcon {
        margin-left: 10px;
        height: 17px;
        width: auto;
      }
    }

    //inputs de angular material
    //mat input
    .mat-form-field-underline {
      background-color: #6d6d6dd9 !important;
    }

    .mat-focused .mat-form-field-underline .mat-form-field-ripple {
      background: #6d6d6dd9;
    }

    mat-form-field{
        width: 100%;
        input{
            width: 100%;
        }
    }