@import "../../mixins/basics.scss";

.explicationContent {
  width: 100%;
  padding: 2% 5%;
  background: #444444;
  display: flex;
  flex-direction: column;
  @include font("Raleway-regular", 14px);

  .explication {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    // color: #6d6d6dd9;
    padding: 10px 0;
    margin: 0 0 5px 0;
    text-align: justify;
    border-bottom: .5px solid white;
    // border-bottom: .5px solid rgba(143, 143, 143, 0.568);

    .explicationTree {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
       border-bottom: .5px solid white;
      //  border-bottom: .5px solid rgba(143, 143, 143, 0.568);
      .explicationText {
        flex: 3;
      }
      .img{
        flex: 1;
        img{
          width: 140px;
          height: 100px;
          border-radius: 5px;
        }
      }
    }
    .explicationClic {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .explicationClicText{
        flex: 3;
      }
      .img{
        flex: 1;
        img{
          width: 140px;
          height: 100px;
          border-radius: 5px;
        }
      }
    }

  }

  .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 0 0;

    button {
      background: #538C29;
      color: white;
    }
  }


}

.titleContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  @include font("Raleway-semi-bold", 18px);
  margin-bottom: 5px;
  color: white;
  // color: #6d6d6dd9;
  border-bottom: .5px solid white;
  // border-bottom: .5px solid rgba(143, 143, 143, 0.568);

  img {
    width: 60px;
    height: 60px;
  }

}

.closeModal {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  background: #444444;

  svg {
    cursor: pointer;
  }
}