 <div class="closeModal">
   <svg (click)="closeModal()" width="15px" height="15px" viewBox="0 0 17 17" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
     <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
     <title>Shape</title>
     <desc>Created with Sketch.</desc>
     <g id="Ruta" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
       <path
         d="M8.5,0.1 C3.861,0.1 0.1,3.861 0.1,8.5 C0.1,13.139 3.861,16.9 8.5,16.9 C13.139,16.9 16.9,13.139 16.9,8.5 C16.9,3.861 13.139,0.1 8.5,0.1 Z M13.289,11.561 L11.56,13.29 L8.5,10.229 L5.439,13.289 L3.71,11.56 L6.772,8.5 L3.711,5.439 L5.44,3.711 L8.5,6.771 L11.561,3.71 L13.29,5.439 L10.228,8.5 L13.289,11.561 Z"
         id="Shape" fill="#838383" fill-rule="nonzero"></path>
     </g>
   </svg>
 </div>

 <div class="explicationContent">

   <div class="titleContent">
     <img src="../../../assets/images/isologo.png" alt="">
     <span>Instrucciones</span>
   </div>

   <div class="explication">
     <div class="explicationTree">
       <div class="img">
         <img src="../../assets/images/arbol.png" alt="">
       </div>
       <div class="explicationText">
         <span>El proyecto RESONARE usa un árbol fractal como representación visual
          de la unión del contenido generado por los usuarios una vez interactuen 
          con la plataforma
        </span>
       </div>
     </div>

     <div class="explicationClic">
       <div class="img">
         <img src="../../assets/images/clicRecurso 1.png" alt="">
       </div>
       <div class="explicationClicText">
         <span>Las ramas que conforman el árbol fractal son clickables, una vez se le de clic a una rama se desplegara
           uno de los vídeos creados por los usuarios, de igual forma el usuario actual podrá dejar su punto de vista a 
           manera de comentario
         </span>
       </div>
     </div>
   </div>

   <div class="button">
     <button mat-flat-button (click)="closeModal()">Continuar!</button>
   </div>
 </div>