<div class="loadingRegisterContent" id="loadingRegisterContent">
  <div class="loadingTitle">
    <span>{{p1}}</span>
  </div>
  <div class="loadingContent">
    <div class="logoAnitamtion">
      <div id="logo">
        <img [src]="logo" alt="">

      </div>
      <div id="progressBar">
        <span class="bar">
          <span id="cambialeElNombre" class="progress"></span>
        </span>
      </div>
    </div>
    <div class="text">
      <span>
        {{text}}
      </span>
      <div class="buttonAgreeContent" *ngIf="!stateAnimation">
        <div class="buttonAgree" (click)="backToHome()">
          <a style="text-decoration:none;" href="http://localhost:4200">Continuar</a>
          <!-- <span>Continuar</span> -->
          <div class="imgContent">
            <svg width="14px" height="13px" viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="otroId" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path
                  d="M8.707,12.207 L13.707,7.207 C14.098,6.817 14.098,6.183 13.707,5.793 L8.707,0.793 C8.316,0.402 7.683,0.402 7.293,0.793 C6.903,1.184 6.902,1.817 7.293,2.207 L10.586,5.5 L1,5.5 C0.448,5.5 0,5.948 0,6.5 C0,7.052 0.448,7.5 1,7.5 L10.586,7.5 L7.293,10.793 C7.098,10.988 7,11.244 7,11.5 C7,11.756 7.098,12.012 7.293,12.207 C7.684,12.598 8.317,12.598 8.707,12.207 Z"
                  id="Shape" fill="#000000" fill-rule="nonzero"></path>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
