@import "../../../mixins/basics.scss";
/* ==========================================================================
    loadingRegisterContent
    ========================================================================== */
.loadingRegisterContent {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;

  /* ==========================================================================
         loadingTitle
         ========================================================================== */
  .loadingTitle {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #538C29;
    // background-image: url('../../../../assets/pop-up-register/loading-register-modal/city-background.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    @include font("Raleway-semi-bold", 25px);
    color: white;


  }

  /* ==========================================================================
             loadingContent
             ========================================================================== */
  .loadingContent {
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;

    /* ==========================================================================
    logoAnitamtion
    ========================================================================== */
    .logoAnitamtion {
      flex: 3;
      display: flex;
      flex-direction: column;

      /* ==========================================================================
    logo
    ========================================================================== */
      #logo {
        width: 100%;
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
        }

      }

      /* ==========================================================================
    progressBar
    ========================================================================== */
      #progressBar {
        flex: .5;
        padding: 0 15%;
      }
    }

    /* ==========================================================================
    text
    ========================================================================== */
    .text {
      flex: 2;
      display: flex;
      width: 100%;
      padding: 0 10%;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include font("Raleway-regular", 19px);
      color: #1d2129;

      /* ==========================================================================
    buttonAgreeContent
    ========================================================================== */
      .buttonAgreeContent {
        flex: 1;
        display: flex;
        flex: row;
        align-items: center;

        /* ==========================================================================
        buttonAgree
        ========================================================================== */
        .buttonAgree {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 152px;
          height: 54px;
          border-radius: 25px;
          border: 1px solid #8b888c;
          color: #8B888C;
          cursor: pointer;
           a {
             color: #8B888C
           }

          /* ==========================================================================
        imgContent
        ========================================================================== */
          .imgContent {}

          /* ==========================================================================
        otroId
        ========================================================================== */

          #otroId {
            path {
              fill: #8B888C;

            }
          }
        }

        .buttonAgree:hover {
          background: #538C29;
          color: white;
          border: 1px solid #538C29;
          a{
            color: white;
          }

          #otroId {
            path {
              fill: white;

            }
          }
        }


      }

    }
  }

}

/* ==========================================================================
    PROGRESSBAR
    ========================================================================== */
// Color Variables ======================================
$dark: #538C29;
$gray-light: #eef1f3;

// Bar Variables ========================================
$bar-size: 5px;
$bar-radius: 60px;
$bar-bg: rgba(0, 0, 0, 0.075);

// Animation =============================================
// Edit these at random intervals to change the animation.
@keyframes loader {
  0% {
    width: 0;
  }

  20% {
    width: 10%;
  }

  25% {
    width: 24
  }

  43% {
    width: 41%;
  }

  56% {
    width: 50%;
  }

  66% {
    width: 52%;
  }

  71% {
    width: 60%;
  }

  75% {
    width: 76
  }

  94% {
    width: 86%;
  }

  100% {
    width: 100%;
  }
}

// Bar ============================================
.progressBar {
  border-radius: $bar-radius;
  overflow: hidden;
  width: 100%;

  span {
    display: block;
  }

}

.bar {
  background: $bar-bg;
}

.progress {
  animation: loader 8s ease forwards;
  // Change the animation fill mode 'infinite' to 'forwards' to stop the animation from repeating.
  background: $dark;
  color: white;
  padding: $bar-size;
  width: 0;
  height: 20px;
  border-radius: 15px;
}