/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$verdeResonare: #538C29;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//altura para el arbol canvas p5
#defaultCanvas0.p5Canvas {
  height: 100% !important;
}

.modal-content{
  // background-color: rgba(0,0,0,0);
  border: none;
}

.videoContainer{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar{
  color: $verdeResonare;
  position: fixed;
}

#navbar-marca img{
  max-height: 3rem ;
}

.menu a{
  color: $verdeResonare;
  text-decoration: none;
}

.menu a.active{
  font-weight: bolder;
  text-decoration: underline;
}

.contenido-nosotros{
  padding: 10vh 12.5vw 0;
  display: flex;
  justify-content: space-between;
  color: #ffffff;

}

.contacto{
  width: 50vw;
}

.equipo{
  width: 25vw;
  text-align: center;
}

.equipo img{
  margin: 4rem 0 1rem;
  width: 20vw;
  height: auto;
}

.equipo a{
  color: $verdeResonare;
}

 *:focus {
   outline: 0 !important;
   border: none;
 }

