@import "../../../mixins/basics.scss";

.createVideoContent{
    width: 100%;
    padding: 5%;

    display: flex;
    flex-direction: column;
    @include font("Raleway-regular", 14px);

    .videoContent{
        width: 100%;
        height: 400px;
        margin-bottom: 5px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);

        video{
            width: 100%;
            height: 100%;
        }
    }

    .videoControls{
        padding: 10px 0;
        margin-bottom: 5px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);

        button{
            margin-right: 15px;
            background: #538C29;
            color: white;
        }
    }
    .dateContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        margin: 5px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        @include font("Raleway-semi-bold", 18px);
        color: #6d6d6dd9;



        .dContent{
            width: 100%;
            padding: 10px 0;
        }
    }

    .titleVideoContent{
        display: flex;
        flex-direction: column;
        width: 100%;



    }


    .descriptionContent{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 10px 0;
        margin-bottom: 5px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);

        .textAreaContent{
            width: 100%;
            height: 150px;

            textarea{
                height: 100%;
                width: 100%;
                border-radius: 5px;
                border: .5px solid #6d6d6dd9;
                padding: 0 15px;
            }
        }
    }

    .categoriesContent{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 10px 0;
        margin-bottom: 5px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
    }

    .createVideoButton{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;

        button{
            background: #538C29;
            color: white;
        }

    }

    
}

.titleContent {
    @include font("Raleway-semi-bold", 18px);
    margin-bottom: 5px;
    color: #6d6d6dd9;
}

input{
    @include font("Raleway-regular", 14px);
    color: #6d6d6dd9;
}
input::placeholder{
    color: #6d6d6dd9;
}


//angular material radiobutton
mat-radio-button{
    margin-right: 15px;
    color: #6d6d6dd9;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
     background-color: #538C29;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #538C29;
}


.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #538C29 !important;
}

//mat input
.mat-form-field-underline {
  background-color: #6d6d6dd9 !important;
}
.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background: #6d6d6dd9;
}


video{
    box-shadow: 2px 2px 8px -4px rgba(117, 117, 117, 0.64);
}

/* When the input is not focused */
md-input-container label {
  color: #6d6d6dd9;
  ;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: #6d6d6dd9;
}

button:hover{
    background: #3e691e;
}

.closeModal {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  svg {
    cursor: pointer;
  }
}



