 <div class="closeModal">
   <svg (click)="closeModal()" width="15px" height="15px" viewBox="0 0 17 17" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
     <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
     <title>Shape</title>
     <desc>Created with Sketch.</desc>
     <g id="Ruta" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
       <path
         d="M8.5,0.1 C3.861,0.1 0.1,3.861 0.1,8.5 C0.1,13.139 3.861,16.9 8.5,16.9 C13.139,16.9 16.9,13.139 16.9,8.5 C16.9,3.861 13.139,0.1 8.5,0.1 Z M13.289,11.561 L11.56,13.29 L8.5,10.229 L5.439,13.289 L3.71,11.56 L6.772,8.5 L3.711,5.439 L5.44,3.711 L8.5,6.771 L11.561,3.71 L13.29,5.439 L10.228,8.5 L13.289,11.561 Z"
         id="Shape" fill="#838383" fill-rule="nonzero"></path>
     </g>
   </svg>
 </div>

<form [formGroup]="videoForm" (ngSubmit)="insertVideo()">
  <div class="createVideoContent">
    <div class="titleVideoContent">
      <div class="titleContent">
        <span>Título:</span>
      </div>
      <mat-form-field class="example-full-width" floatLabel="never">
        <input placeholder="Escribe Aquí el nombre que quieres ponerle a tu vivencia" formControlName="title" matInput value="">
      </mat-form-field>
    </div>
    <div class="videoContent">
      <video #video class="video" controls></video>
    </div>

    <div class="videoControls">
      <button mat-flat-button (click)="startRecording()"> Grabar </button>
      <button mat-flat-button (click)="stopRecording()"> Detener</button>
    </div>
    <!-- <form [formGroup]="videoForm" (ngSubmit)="insertVideo()"> -->
    <div class="dateContent">
      <div class="titleContent">
        <span>Fecha Actual:</span>
      </div>
      <div class="dContent">
        <span>{{dateToday}}</span>

      </div>
    </div>

    <div class="descriptionContent">
      <div class="titleContent">
        <span >Descripción:</span>
      </div>
      <div class="textAreaContent">
        <textarea formControlName="description" placeholder="Escribe aquí la descripción de tu experiencia." name="" id=""
          cols="30" rows="10"></textarea>

      </div>
    </div>

    <div class="categoriesContent">
      <div class="titleContent">
        <span>Selección de categoría:</span>
      </div>
        <mat-radio-group [(ngModel)]="category" formControlName="category">
          <mat-radio-button  value="Perdón">Perdón</mat-radio-button>
          <mat-radio-button  value="Guerra">Guerra</mat-radio-button>
          <mat-radio-button  value="Desplazamiento">Desplazamiento</mat-radio-button>
          <mat-radio-button  value="Paz">Paz</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="createVideoButton">
      <button mat-flat-button >Guardar Experiencia</button>
    </div>
  </div>
</form>


