<div class="headerInicio">
  <div class="rowIcon1">
    <div class="icon1">
      <!-- <img src="../../../assets/icons/resonare-linea.png" alt=""> -->
      <a href="http://localhost:4200" class="home"></a>
    </div>

    <div class="icon2">
      <!-- <img [ngbTooltip]="About" placement="left" src="../../../assets/icons/home.png"
        [routerLink]="['../']" alt=""> -->

        <a class="o" href="http://localhost:4200" [ngbTooltip]="About" placement="left"></a>
    </div>
  </div>
</div>
<div class="contenido-nosotros">

  <div class="resonare">
    <div id="title1">
      <span>RESONARE</span>
    </div>
    <div class="body">
      <span>
       Bienvenido a Resonare, te invitamos a conocer un poco más de nuestra historia contada por todos los que la
       vivimos. Esta idea surgió con el fin de ayudar en la construcción de una memoria histórica por todos y para
       todos, que podamos acceder a las historias de todos los que la quieran compartir y así construir un país más
       amable, justo y en paz.
       Te invitamos a que participes viendo las historias de otras personas, comentando o compartiendo tu propia
       historia ¡Ayúdanos en esta fantástica aventura!
      </span>
    </div>
  </div>
  <div class="equipo">
    <div class="title">
      <span>Equipo</span>
    </div>
    <div class="cc">
      <div class="teamContent">
        <div class="img">
          <img src="../../../assets/images/pipe.png" alt="">
        </div>
        <div class="bodyContent">
          <div class="name">
            <h5>Álvaro Felipe Bacca</h5>

          </div>
          <div class="position">
            <span>Director</span>
          </div>
          <div class="socialMedia">
              <img src="../../../assets/icons/facebook.svg" alt="">
              <img src="../../../assets/icons/twitter.svg" alt="">
              <img src="../../../assets/icons/linkedin.svg" alt="">
          </div>
          <div class="description">
            Docente universitario, director de arte, game designer, líder de desarrollo, conceptualizador,conferencista, Ilustrador y emprendedor serial. He trabajado en diversas áreas del diseño y arte digital: desde multimedia y animación hasta videojuegos y experiencias sociales.
          </div>
        </div>
        <p>
    
        </p>
      </div>
  
      <div class="teamContent">
        <div class="img">
          <img src="/src/assets/images/flaco.png" alt="">
        </div>
        <div class="bodyContent">
          <div class="name">
            <h5>Daniel Martínez</h5>

          </div>
          <div class="position">
            <span>Desarrollador web</span>
          </div>
          <div class="socialMedia">
              <img src="../../../assets/icons/facebook.svg" alt="">
              <img src="../../../assets/icons/twitter.svg" alt="">
              <img src="../../../assets/icons/linkedin.svg" alt="">
          </div>
          <div class="description">
            Estudiante de ingeniería multimedia especializado en diseño y desarrollo web. Es aplicado, dedicado, le gustan los videojuegos, el ánime y está siempre dispuesto a aplicar nuevos conocimientos en cualquier campo de su agrado. <br>
          </div>
        </div>
      </div>
  
  
      <div class="teamContent">
        <div class="img">
          <img src="/src/assets/images/sergi.png" alt="">
        </div>
        <div class="bodyContent">
          <div class="name">
            <h5>Sergio Arias</h5>

          </div>
          <div class="position">
            <span>Desarrollador web</span>
          </div>
          <div class="socialMedia">
            <img src="../../../assets/icons/facebook.svg" alt="">
            <img src="../../../assets/icons/twitter.svg" alt="">
            <img src="../../../assets/icons/linkedin.svg" alt="">
          </div>
          <div class="description">
            Estudiante de ingeniería multimedia apasionado por la fotografía, el video y la comunicación audiovisual. Siempre dispuesto a explorar nuevos campos del saber y ferviente creyente en la integración del conocimiento. <br>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>