@import '../../../mixins/basics.scss';

.contenido-nosotros{
width: 100%;
height: 100%;
padding:10px 30px 30px 30px;
display: flex;
flex-direction: column;
justify-content: space-around;
background: #444444;

.resonare{
    flex: 2;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    margin-bottom:20px; 
     border-bottom: .5px solid white;
    //  border-bottom: .5px solid rgba(143, 143, 143, 0.568);
    
    .body{
        text-align: justify;
        padding: 10px;
        @include font("Raleway-regular", 14px);
        color: white;
        // color: #6d6d6dd9;
        
    }

    #title1{
        background-image: url('../../../assets/images/p.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
        border-radius: 10px;
        // flex-basis: 10%;
        margin: 0 0 20px 0;
        // height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font("Raleway-semi-bold", 60px);
        color: white;
        // color: #6d6d6dd9;
        // border-bottom: .5px solid rgba(143, 143, 143, 0.568);
    }
}

.equipo{
    flex: 1;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .title{
        // flex-basis: 10%;
        margin: 0 0 10px 0;
        // height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font("Raleway-semi-bold", 35px);
        color: #538C29;
       
    }
    .cc{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .teamContent{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin-right: 10px;

        .img{
            display: flex;
            align-items: flex-start;
            flex: .5;
            height: 100%;
            padding: 10px;

            img{
                width: 150px;
                height: 100%;
                margin: 0 !important;
            }
        }

        .bodyContent{
            width: 100%;
            display: flex;
            flex-direction: column;

            .name{
                display: flex;
                align-items: center;
               @include font("Raleway-bold", 20px);
               color: #538C29;
               flex: .5;
                padding: 10px;
            }

            .position{
                @include font("Raleway-regular", 20px);
                display: flex;
                align-items: center;
                color: white;
                // color: #6d6d6dd9;
                flex: .5;
                 padding: 10px;
            }

            .socialMedia{
                flex: .5;
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                padding: 10px 10px 20px 10px;
                margin-bottom: 5px;
                border-bottom: .5px solid rgba(143, 143, 143, 0.568);
                img{
                    cursor: pointer;
                    width: 30px;
                    margin: 0;
                }
            }
            .description{
                flex: 2;
                text-align: justify;
                 padding: 10px;
                 @include font("Raleway-regular", 14px);
                 color: white;
                //  color: #6d6d6dd9;
            }

        }
    }
}
}

.headerInicio {
    background: #444444;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px 5% 0 5%;
  justify-content: space-around;
//   position: fixed;

  img {
    width: 35px;
    cursor: pointer;
  }

  .rowIcon1 {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

  .rowIcon2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

.o{
    content: url('../../../assets/icons/home.png');
    width: 35px;
    height: 35px;
}

.home {
  content: url('../../../assets/icons/resonare-linea.png');
  width: 35px;
  height: 35px;
}