@import "./fonts.scss";

//Permite que las imagenes tengan un edsbordamiento interno para que no se pierda su proporcion de tamaño.
@mixin o-fit-img {
  object-fit: cover;
  object-position: center;
}