/* ==========================================================================
    Import fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800');


/* ==========================================================================
    MIXIN for setting a font
   ========================================================================== */

@mixin font($name, $size:20px) {

  /* ==========================================================================
   RALEWAY LIGHT
   ========================================================================== */
  @if $name=='Raleway-light' {
    font-size: $size;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

  /* ==========================================================================
   RALEWAY REGULAR
   ========================================================================== */
  @if $name=='Raleway-regular' {
    font-size: $size;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  /* ==========================================================================
     RALEWAY MEDIUM
     ========================================================================== */
  @if $name=='Raleway-medium' {
    font-size: $size;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  /* ==========================================================================
     RALEWAY BOLD
     ========================================================================== */
  @if $name=='Raleway-bold' {
    font-size: $size;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  /* ==========================================================================
     RALEWAY SEMI-BOLD
     ========================================================================== */
  @if $name=='Raleway-semi-bold' {
    font-size: $size;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  /* ==========================================================================
     RALEWAY SEMI-BOLD ITALIC
     ========================================================================== */
  @if $name=='Raleway-italic-bold' {
    font-size: $size;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
  }

  /* ==========================================================================
     NUNITO LIGHT
     ========================================================================== */
  @if $name=='Nunito-light' {
    font-size: $size;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 300;
  }

  /* ==========================================================================
     NUNITO REGULAR
     ========================================================================== */
  @if $name=='Nunito-regular' {
    font-size: $size;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  /* ==========================================================================
     NUNITO SEMI BOLD
     ========================================================================== */
  @if $name=='Nunito-semi-bold' {
    font-size: $size;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
  }

  /* ==========================================================================
     NUNITO BOLD
     ========================================================================== */
  @if $name=='Nunito-bold' {
    font-size: $size;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
  }

  /* ==========================================================================
     NUNITO EXTRA-BOLD
     ========================================================================== */
  @if $name=='Nunito-extra-bold' {
    font-size: $size;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
  }
}