<div class="commentContent" *ngFor="let comment of filterComments">
  <div class="image">
    <img src="../../../assets/images/avatar.png" alt="">
  </div>
  <div class="commentBody">
    <span>{{comment.body}}</span>
  </div>
</div>
