@import "../../../mixins/basics.scss";

.commentContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    @include font("Raleway-regular", 14px);
    .image{
        flex: 1;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 5px;
        img{
            height: 100%;
        }
    }

    .commentBody{
        flex: 5;
        padding: 5px;
    }
}