@import '../../../mixins/basics.scss';

$verdeResonare: #538C29;

.arbol-contenedor {
  width: 100%;
  height: 100%;
  background:#444444;
  // background: $verdeResonare;
  // background-image: url('../../../assets/images/bg.CR2');
  // background-repeat: no-repeat;
  // background-size: cover;
  // padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  background: #444444;
  
  .arbol {
    width: 100%;
    height: 80vh;
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;

    #container{
      text-align: center;
    }

    // background: white;
    // background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 100%);
    // background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 100%);
    // background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 100%);
    // background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 100%);
    // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(179,179,179,1) 100%);

    // background:#444444;
   background: rgba(68, 68, 68, 1);
   background: -moz-linear-gradient(top, rgba(68, 68, 68, 1) 0%, rgba(25, 25, 25, 1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68, 68, 68, 1)), color-stop(100%, rgba(25, 25, 25, 1)));
   background: -webkit-linear-gradient(top, rgba(68, 68, 68, 1) 0%, rgba(25, 25, 25, 1) 100%);
   background: -o-linear-gradient(top, rgba(68, 68, 68, 1) 0%, rgba(25, 25, 25, 1) 100%);
   background: -ms-linear-gradient(top, rgba(68, 68, 68, 1) 0%, rgba(25, 25, 25, 1) 100%);
   background: linear-gradient(to bottom, rgba(68, 68, 68, 1) 0%, rgba(25, 25, 25, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#191919', GradientType=0);
  }
  .title {
     flex-basis: 10%;
     margin: 0 5% 0 5%;
     // height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
     @include font("Raleway-semi-bold", 35px);
     color:white;
    //  color: #6d6d6dd9;
     border-bottom: .5px solid white;
   }
   .title2 {
     flex-basis: 10%;
     padding: 0 0 10px 0;
    //  margin: 0 5% 0 5%;
     // height: 80px;
     display: flex;
     align-items: center;
     justify-content: center;
     @include font("Raleway-semi-bold", 35px);
     color:white;
    //  color: #6d6d6dd9;
    //  border-bottom: .5px solid white;
    border-bottom: 0px;
    border-top: 2px solid #ffffff
   }
  
  .arbol-olvido {
    // padding-top: 30px;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background: #191919;

    #containerOlvido {
      text-align: center;
      // transform: rotateZ(180deg); 
      // background: #c2c2c2;
      // background: -ms-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
      // background: linear-gradient(to bottom, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
      // background: -moz-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
      // background: -webkit-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
      // background: -o-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
      // background:#444444;
      
      
    }
    // background: -ms-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
    // background: linear-gradient(to bottom, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
    // background: -moz-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
    // background: -webkit-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);
    // background: -o-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(138,138,138,1) 100%);

  }


}

app-memoriales{
    position: fixed;
    bottom: 0;
    // height: 25vh;
    height: 75vh;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.2);

}


.headerInicio{
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  padding: 20px  5% 0 5%;  
  justify-content: space-around;
  position: fixed;
  // background:#444444;

  img {
    width:35px;
    cursor: pointer;
  }

  .rowIcon1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }

  .rowIcon2{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}


::ng-deep .tooltip-inner {
  background-color: #538C29

}
app-memoriales{
  position: fixed;
  bottom: 0;
  // height: 25vh;
  height: 75vh;
  overflow-y: scroll;
  background: rgba(0,0,0,0.2);
}


