<div class="headerInicio">
  <div class="rowIcon1">
    <div class="icon1">
      <img src="../../../assets/icons/resonare-linea.png" alt="">
    </div>
    

    <div class="icon2">
      <img [ngbTooltip]="About" placement="left" src="../../../assets/icons/nosotros.png" [routerLink]="['../nosotros']"
        alt="">
    </div>
  </div>
  <div class="rowIcon2">
    <div class="icon2">
      <svg [ngbTooltip]="admin" [routerLink]="['../admin']" xmlns="http://www.w3.org/2000/svg" height="35px"
        viewBox="0 0 496 496"
        width="35px" class="">
        <g>
          <path d="m32 208h16v16h-16zm0 0" data-original="#000000" class="active-path" data-old_color="#068000"
            fill="#4B6737" />
          <path d="m64 208h16v16h-16zm0 0" data-original="#000000" class="active-path" data-old_color="#068000"
            fill="#4B6737" />
          <path d="m96 208h16v16h-16zm0 0" data-original="#000000" class="active-path" data-old_color="#068000"
            fill="#4B6737" />
          <path
            d="m443.960938 130.136719 15.421874-4.273438c-8.496093-30.664062-28.070312-56.984375-55.101562-74.09375l-8.554688 13.511719c23.664063 14.992188 40.800782 38.023438 48.234376 64.855469zm0 0"
            data-original="#000000" class="active-path" data-old_color="#068000" fill="#4B6737" />
          <path
            d="m387.214844 42.6875c-5.519532-2.414062-11.261719-4.464844-17.078125-6.070312l-4.273438 15.421874c5.082031 1.410157 10.105469 3.191407 14.921875 5.3125zm0 0"
            data-original="#000000" class="active-path" data-old_color="#068000" fill="#4B6737" />
          <path
            d="m496 168v-8c0-88.222656-71.777344-160-160-160h-8v32.40625c-66.847656 4.160156-120 59.714844-120 127.59375 0 5.433594.449219 10.742188 1.113281 16h-209.113281v320h432v-251.625c18.191406-20.671875 29.777344-47.191406 31.59375-76.375zm-152-151.785156c73.046875 4.023437 131.761719 62.738281 135.785156 135.785156h-135.785156zm-16 255.378906c-24.863281-1.769531-47.472656-11.640625-65.230469-27.050781l65.230469-65.230469zm0-130.90625-65.230469-65.230469c17.757813-15.410156 40.375-25.28125 65.230469-27.050781zm-76.542969-53.917969 73.230469 73.230469-73.230469 73.230469c-17.058593-19.65625-27.457031-45.222657-27.457031-73.230469s10.398438-53.574219 27.457031-73.230469zm-39.242187 105.230469c4.601562 17.777344 12.847656 34.089844 24.023437 48h-220.238281v-48zm-196.214844 288v-224h235.625c22.550781 19.847656 52.039062 32 84.375 32 30.265625 0 58.0625-10.617188 80-28.238281v220.238281zm328-208.40625v-103.59375h103.59375c-3.9375 55.367188-48.226562 99.65625-103.59375 103.59375zm0 0"
            data-original="#000000" class="active-path" data-old_color="#068000" fill="#4B6737" />
          <path d="m240 464h160v-48h-160zm64-16v-16h32v16zm80 0h-32v-16h32zm-128-16h32v16h-32zm0 0"
            data-original="#000000" class="active-path" data-old_color="#068000" fill="#4B6737" />
          <path d="m240 384h160v16h-160zm0 0" data-original="#000000" class="active-path" data-old_color="#068000"
            fill="#4B6737" />
          <path d="m240 352h160v16h-160zm0 0" data-original="#000000" class="active-path" data-old_color="#068000"
            fill="#4B6737" />
          <path d="m240 320h160v16h-160zm0 0" data-original="#000000" class="active-path" data-old_color="#068000"
            fill="#4B6737" />
          <path
            d="m184 304c-6.457031 0-12.296875 2.59375-16.609375 6.742188l-23.679687-11.839844c.113281-.957032.289062-1.910156.289062-2.902344 0-13.230469-10.769531-24-24-24s-24 10.769531-24 24c0 2.488281.488281 4.847656 1.191406 7.105469l-27.910156 20.925781c-3.800781-2.535156-8.371094-4.03125-13.28125-4.03125-13.230469 0-24 10.769531-24 24s10.769531 24 24 24 24-10.769531 24-24c0-2.488281-.488281-4.847656-1.191406-7.105469l27.910156-20.925781c3.800781 2.535156 8.371094 4.03125 13.28125 4.03125 6.457031 0 12.296875-2.59375 16.617188-6.753906l23.679687 11.84375c-.121094.964844-.296875 1.910156-.296875 2.910156 0 13.230469 10.769531 24 24 24s24-10.769531 24-24-10.769531-24-24-24zm-128 48c-4.40625 0-8-3.59375-8-8s3.59375-8 8-8 8 3.59375 8 8-3.59375 8-8 8zm64-48c-4.40625 0-8-3.59375-8-8s3.59375-8 8-8 8 3.59375 8 8-3.59375 8-8 8zm64 32c-4.40625 0-8-3.59375-8-8s3.59375-8 8-8 8 3.59375 8 8-3.59375 8-8 8zm0 0"
            data-original="#000000" class="active-path" data-old_color="#068000" fill="#4B6737" />
          <path d="m32 464h48v-80h-48zm16-64h16v48h-16zm0 0" data-original="#000000" class="active-path"
            data-old_color="#068000" fill="#4B6737" />
          <path d="m96 464h48v-128h-48zm16-112h16v96h-16zm0 0" data-original="#000000" class="active-path"
            data-old_color="#068000" fill="#4B6737" />
          <path d="m160 464h48v-96h-48zm16-80h16v64h-16zm0 0" data-original="#000000" class="active-path"
            data-old_color="#068000" fill="#4B6737" />
        </g>
      </svg>
    </div>
     <div class="icon2">
       <!-- <img *ngIf="imgopt" (click)="showTestimonials('hide')" [ngbTooltip]="MemoriesH" placement="left"
        src="../../../assets/icons/eye.png" alt=""> -->
       <img (click)="openHistories()" [ngbTooltip]="MemoriesS" placement="left" src="../../../assets/icons/eye.png"
         alt="">
     </div>
  </div> 
</div>

<div class="arbol-contenedor">
  <div class="arbol">
    <div class="title">
      <span>Árbol de  vivencias</span>
    </div>
    <div id="container">
        
    </div>
  </div>
  <div class="arbol-olvido">
    <div id="containerOlvido">
    </div>
    <div class="title2" style="background:#191919;">
      <div style="margin: 0 5% 0 5%;">
        <span>Árbol del olvido</span>

      </div>

    </div>
  </div>

</div>


<button style="display:none;" id="initButtonClick" (click)="sendDataToP5()"></button>
<button style="display:none;" id="forgottenButtonClick" (click)="sendDataToP5F()"></button>

<ng-template #About>Sección Acerca de nosotros</ng-template>
<ng-template #MemoriesS>Mostrar Memoriales</ng-template>
<ng-template #admin>Ir al panel de adminsitrador</ng-template>