<div class="memorialesContent">

  <div class="closeModal">
    <svg (click)="closeModal()" width="15px" height="15px" viewBox="0 0 17 17" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
      <title>Shape</title>
      <desc>Created with Sketch.</desc>
      <g id="Ruta" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path
          d="M8.5,0.1 C3.861,0.1 0.1,3.861 0.1,8.5 C0.1,13.139 3.861,16.9 8.5,16.9 C13.139,16.9 16.9,13.139 16.9,8.5 C16.9,3.861 13.139,0.1 8.5,0.1 Z M13.289,11.561 L11.56,13.29 L8.5,10.229 L5.439,13.289 L3.71,11.56 L6.772,8.5 L3.711,5.439 L5.44,3.711 L8.5,6.771 L11.561,3.71 L13.29,5.439 L10.228,8.5 L13.289,11.561 Z"
          id="Shape" fill="#838383" fill-rule="nonzero"></path>
      </g>
    </svg>
  </div>
  <div class="title">
    <span>Memorias</span>
  </div> 

  <!-- <div id="guardarHistoria" > -->
  <div id="guardarHistoria" *ngIf="videoContent != undefined">
  <!-- <div id="guardarHistoria" *ngIf="videoContent != undefined  && firstTime != '1'"> -->
    <div class="contentG">
      <span>Hey! Para nosotros es muy importante tu historia, no te quedes sin compartirla!</span>
    </div>
    <div class="buttonContent">
      <button mat-flat-button (click)="openModalCH()" >Comparte tu historia</button>
    </div>
  </div>
  <div id="irAlInicio" *ngIf="videoContent == undefined">
    <div class="contentG">
      <span>Hey! Veo que no has visto ni un solo vídeo, deja te ayudamos a que vivas la experencia de conocer la historia de los demás!</span>
    </div>
    <div class="buttonContent">
      <button mat-flat-button><a href="http://localhost:4200/">Ir al inicio</a></button>
    </div>
     <!-- <a href="http://localhost:4200">hola</a>  -->
  </div>

  <div class="mContent">
    <div class="historia">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let h of historiesContent" (afterExpand)="updateViews(h.keyHistory)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="../../../assets/icons/video.svg" alt="">
              <span>{{h.title}}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span>{{h.endDate | formatDate}}</span>
              <div class="views">
                <img src="../../../assets/icons/eye.svg" alt="">
                <span>{{h.views}}</span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="videoContenedor" *ngFor="let v of h.videos">
            <div class="videos">
              <div class="titleV">
                <span>{{v.title}}</span>
              </div>
              <div class="iframe">
                <iframe *ngIf="v.video!='no hay'" [src]="v.video | youtubePipe" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <video *ngIf="v.video=='no hay'" [src]="v.videoSuplente" width="798" height="427" controls></video>
              </div>
            </div>
            <div class="arrow">
              <img src="../../../assets/icons/arrowRight.svg" alt="">
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.behance.net/" target="_blank" rel="noopener noreferrer">Facebook Kawaii</a> -->


<!-- <div class="container">
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
    <div class="card__head">Plotting Cat</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
    <div class="card__head">Angry Cat</div>
  </div>
  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
    <div class="card__head">Curious Cat</div>
  </div>
  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
    <div class="card__head">Prowling Cat</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
    <div class="card__head">Sleepy Cat</div>
  </div>
</div> -->