@import '../../../mixins/basics.scss';

.mContent{
  display: flex;
  flex-direction: row;
  margin: 0 1rem 30px 1rem;
}
.mat-accordion{
  height: 100%;
}

// .mat-expanded{
//   top: 5rem;
//   position: fixed;
// }
.mat-expansion-panel-body{
  display: inline-block;
}
.memorialesContent {
    width: 100%;
    height: 100%;
    padding:  30px 5% 0 5%;
    display: flex;
    flex-direction: column;
    background: #444444;


    .title {
    flex-basis: 10%;
    margin: 0 5% 50px 5%;
    // height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font("Raleway-semi-bold", 35px);
    color: white;
    // color: #6d6d6dd9;
    border-bottom: .5px solid white;
    // border-bottom: .5px solid rgba(143, 143, 143, 0.568);
    
    }

    #guardarHistoria{
        width: 100%;
        
        padding: 20px;
        border: 1px dashed #538C29;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        margin: 0 0 30px 0;

        .contentG{
             @include font("Nunito-semi-bold", 18px);
             color: white;
            //  color: #6d6d6dd9;
        }

        .buttonContent{

            button {
              background: #538C29;
              color: white;
              @include font("Nunito-semi-bold", 14px);
            }
        }


    }

    #irAlInicio{
         width: 100%;
         
         padding: 20px;
         border: 1px dashed #538C29;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         border-radius: 15px;
         margin: 0 0 30px 0;

         .contentG {
             flex: 4;
           @include font("Nunito-semi-bold", 18px);
           color: white;
          //  color: #6d6d6dd9;
         }

         .buttonContent {
            flex: 1;
            display: flex;
            justify-content: center;
           button {
             background: #538C29;
             color: white;
             @include font("Nunito-semi-bold", 14px);

             a{
               text-decoration: none;
               color: white;
             }
           }
         }
    }
}
//contendor del vídeo
iframe {
  width: 200px;
  height: 200px;
}

video{
  width: 200px;
  height: 200px;
}
.videoContenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.videos{
  // flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
   margin-bottom: 10px;
   padding: 10px;
   

  .titleV{
    @include font("Raleway-semi-bold", 20px);
    color: #538C29;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: .5px solid rgba(143, 143, 143, 0.568);
  }

}
.arrow{
  // flex:.5;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  img{
    width: 40px;
  }
  
}
//angular material
mat-panel-title.mat-expansion-panel-header-title {
  img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  span{
    @include font("Raleway-semi-bold", 12px);
    color: #538C29;

  }
}

 .mat-expansion-panel-header-title{
   align-items: center;
 }

mat-panel-description.mat-expansion-panel-header-description {
  align-items: center;
   @include font("Raleway-regular", 15px);
   color: #6d6d6dd9;
   justify-content: space-between;

   .views{
     flex: .2;
     display: flex;
     justify-content: space-evenly;
   }
}

.mat-expansion-panel-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
}

.mContent.ng-star-inserted {
  margin-bottom: 30px;
}

.closeModal{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  svg{
    cursor: pointer;
  }
}
////////////////////////////////////////////////////////////////////////////////


// body {
//   margin: 0;
//   min-height: 100vh;
  
//   font-family: sans-serif;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 10vmin;
//   overflow: hidden;
//   transform: skew(5deg);

//   .card {
//     flex: 1;
//     transition: all 1s ease-in-out;
//     height: 75vmin;
//     position: relative;

//     .card__head {
//       color: black;
//       background: rgba(255, 30, 173, 0.75);
//       padding: 0.5em;
//       transform: rotate(-90deg);
//       transform-origin: 0% 0%;
//       transition: all 0.5s ease-in-out;
//       min-width: 100%;
//       text-align: center;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       font-size: 1em;
//       white-space: nowrap;
//     }

//     &:hover {
//       flex-grow: 10;

//       img {
//         filter: grayscale(0);
//       }

//       .card__head {
//         text-align: center;
//         top: calc(100% - 2em);
//         color: white;
//         background: rgba(0, 0, 0, 0.5);
//         font-size: 2em;
//         transform: rotate(0deg) skew(-5deg);
//       }
//     }

//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       transition: all 1s ease-in-out;
//       filter: grayscale(100%);
//     }

//     &:not(:nth-child(5)) {
//       margin-right: 1em;
//     }
//   }
// }

