@import "../../../../mixins/basics.scss";


.modalVideoContent{
    width: 100%;
    padding: 5%;
    
    display: flex;
    flex-direction: column;
    @include font("Raleway-regular", 14px);
    
    .titleContent{
        justify-content: center;
        @include font("Raleway-semi-bold", 30px);
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        padding-bottom: 10px;
        margin-bottom: 20px;
        color: #6d6d6dd9;
    }

    .titleSection{
        justify-content: center;
        @include font("Raleway-semi-bold", 18px);
        padding-bottom: 2px;
        color: #6d6d6dd9;
    }
    .iframeContent {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        video{
            width: 100%;
        }
    }
    .dataVideoContent {
        margin-bottom: 20px;
        padding-bottom: 10px;

        .categoryContent{
            .category{
                color: #538C29;
                @include font("Raleway-semi-bold", 14px);
            }
        }

        .dateContent,.endDateContent,.categoryContent{
            margin-bottom: 10px;
            border-bottom: .5px solid rgba(143, 143, 143, 0.568);
            padding: 0 0 10px 0;

        }
        

    }

    
    .descriptionContent {
        width: 100%;
        margin-bottom: 20px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        padding-bottom: 10px;
        .titleDescription{
            @include font("Raleway-semi-bold", 18px);
            color: #6d6d6dd9;
        }

    }
    .ButtonsShareContent {
        margin-bottom: 20px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        padding-bottom: 10px;
        .titleButtons{
             @include font("Raleway-semi-bold", 18px);
             color: #6d6d6dd9;
        }
        .buttonsContent{
            
            width: 100%;
            justify-content: space-between;
        }
    }
    .twitterContent {
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
        // border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        .titleTwitter{
            flex: 1;
            width: 100%;
            @include font("Raleway-semi-bold", 18px);
            color: #6d6d6dd9;
        }
        .tweets{
            flex: 2;
            .tweet{
                width: 100%;
                border-bottom: .5px solid rgba(143, 143, 143, 0.568);
                padding-bottom: 10px;
                padding: 10px 0;
                .tweetContent {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                    .image{
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 10px;
                        .img {
                        
                           width: auto;
                           height: 100%;
                           background-size: cover;
        
                           

                         }
                         .name {
                            padding-left: 15px;
                           color: #538C29;
                        //    color: #00acee;
                         }
                    }
                    .tweetBody{
                        display: flex;
                        flex-direction: column;
                        .username{
                            width: 100%;
                            margin-bottom: 10px;
                            span{
                                color: #4d4d4d;
                            }
                            
                        }


                    }
                }
            }

            
            
        }
    }
    .commentContent {
        margin-bottom: 20px;
        border-bottom: .5px solid rgba(143, 143, 143, 0.568);
        padding-bottom: 10px;
        .titleComments{
            @include font("Raleway-semi-bold", 18px);
            color: #6d6d6dd9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            .views{
                img{
                    padding-right: 5px;
                }
            }

        }
    }

    .flexColum{
        display: flex;
        flex-direction: column;
    }

    .flexRow{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    
}
.createComment{
    
    width: 100%;
    form{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 5%;
        
        .textAreaContent{
            flex: 5;
            textarea{
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        .inputData{
            flex: 1;

        }
    }
}
button{
    background: #538C29;
    color: white;
}

//clases para cuando el modal sea de tipo olvido

.titleForgotten{
    color: #538C29 !important;
}

.textForgotten{
    color: white !important;
}

.titleContentForgotten{
    border-bottom: .5px solid #538C29 !important;
    color: #538C29 !important;

}

.bgForgotten{
    background: #4d4d4d;
    // background: #4d4d4d;
}

::ng-deep .tooltip-inner {
  background-color: #538C29
}

.closeModal {
    padding: 10px 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  svg {
    cursor: pointer;
  }
}

