 <div class="closeModal">
   <svg (click)="closeModal()" width="15px" height="15px" viewBox="0 0 17 17" version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
     <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
     <title>Shape</title>
     <desc>Created with Sketch.</desc>
     <g id="Ruta" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
       <path
         d="M8.5,0.1 C3.861,0.1 0.1,3.861 0.1,8.5 C0.1,13.139 3.861,16.9 8.5,16.9 C13.139,16.9 16.9,13.139 16.9,8.5 C16.9,3.861 13.139,0.1 8.5,0.1 Z M13.289,11.561 L11.56,13.29 L8.5,10.229 L5.439,13.289 L3.71,11.56 L6.772,8.5 L3.711,5.439 L5.44,3.711 L8.5,6.771 L11.561,3.71 L13.29,5.439 L10.228,8.5 L13.289,11.561 Z"
         id="Shape" fill="#838383" fill-rule="nonzero"></path>
     </g>
   </svg>
 </div>

<div class="modalVideoContent" [ngClass]="bgForgotten" *ngFor="let v of videoContent">
    <div class="titleContent flexRow" [ngClass]="titleContentForgotten">
        <span>{{v.title}}</span>
    </div>
    <div class="iframeContent">
        <video *ngIf="v.video=='no hay'" [src]="v.videoSuplente" width="760" height="315" controls></video>
        <iframe *ngIf="v.video!='no hay'" width="760" height="315" [src]="v.video | youtubePipe" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="dataVideoContent flexColum">
        <div class="likeContent"></div>
        <div class="dateContent">
             <div [ngbTooltip]="TDateContent" placement="right" class="titleSection" [ngClass]="titleForgotten">
               <span>Fecha de creación: </span>
             </div>
             <div class="date" [ngClass]="textForgotten">
                 {{v.date}}
             </div>
        </div>
        <div class="endDateContent">
             <div [ngbTooltip]="TEndDateContent" placement="right" class="titleSection" [ngClass]="titleForgotten">
               <span>Fecha de vencimiento: </span>
             </div>
             <div class="endDate" [ngClass]="textForgotten">
                 <span>
                     {{dateToday }}
                 </span>
             </div>
        </div>
        <div class="categoryContent">
             <div class="titleSection" [ngClass]="titleForgotten">
               <span>Categoría: </span>
             </div>
             <div class="category" [ngClass]="textForgotten">
                 <span>
                     {{v.category}}
                </span>
             </div>
        </div>
    </div>
    <div class="descriptionContent">
        <div class="titleDescription" [ngClass]="titleForgotten">
            <span>Descripción: </span>

        </div>
        <div class="description flexColum" [ngClass]="textForgotten">
            <span>{{v.description}}
            </span>

        </div>
    </div>
    <div class="ButtonsShareContent flexColum">
        <div class="titleButtons flexRow" [ngClass]="titleForgotten">
            <span>Comparte:</span>
        </div>
        <div class="buttonsContent flexRow">
            <button (click)="openToCreateVideo()" mat-flat-button >Ayudanos a contribuir con la historia</button>
            <button mat-flat-button (click)="goToHistories()" >Comparte tu historia</button>
        </div>

    </div>
    <div class="twitterContent flexColum">
        <div class="titleTwitter flexRow" [ngClass]="titleForgotten">
            <span>Reacciones: </span>
        </div>
        <div class="tweets flexColum">
            <div class="tweet" *ngFor="let t of tweetsdata">
                <div class="tweetContent">
                    <div class="image">
                        <img style="border-radius: 50%;" [src]="t.user.profile_image_url" alt="">
                        <div class="username">
                            <span class="name">@{{t.user.screen_name}} / </span>
                            <span [ngClass]="textForgotten">{{t.user.location}}</span>
                        </div>
                    </div>
                    <div class="tweetBody">
                        <div class="body" [ngClass]="textForgotten">
                            <span>{{t.text}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="commentContent">
        <div class="titleComments" [ngClass]="titleForgotten">
            <span>Comentarios:</span>
            <div class="views" [ngbTooltip]="TViewsContent" placement="top">
                <img [src]= "state ? eyes: eyesW " alt="">
                <!-- <img src="../../../../assets/icons/eye.svg" alt=""> -->
                <span>{{views}}</span>
            </div>
        </div>
        <div class="comments">
            
            <app-comment-content *ngIf="!!myCommentObject" [comment]="myCommentObject"></app-comment-content>
        </div>
    </div>
</div>
<footer>
    <div class="createComment">
    <form  [formGroup]="commentForm" (ngSubmit)="sendComment()">
        <div class="textAreaContent">
            <textarea #myTextArea id="textArea"  placeholder="Escribe aquí tu comentario" formControlName="body"
            class="inputData"></textarea>
        </div>
        <button mat-flat-button  type="submit"  class="saveButton">Publicar</button>
    </form>
    </div>
</footer>


<!-- Template para los tooltips -->
<ng-template #TViewsContent>Número de veces que lo han visto los usuarios</ng-template>
<ng-template #TDateContent>Fecha correspondiente a su creación</ng-template>
<ng-template #TEndDateContent>Fecha correspondiente al día en el cual pasará a la sección de ólvidados</ng-template>